/* style.css */

body,
html {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                font-family: 'Roboto';
}

.navbar {
                width: 100%;
                height: 60px;
                background-color: #0B2447;
                align-content: center;
                padding-left: 20px;

}

.navbar-brand {
                color: white;
                ;
                padding-top: .5rem;
                padding-bottom: .3125rem;
                margin-right: 1rem;
                font-size: 1.25rem;
                text-decoration: none;
                white-space: nowrap;
                white-space-collapse: collapse;
                text-wrap: nowrap;
                padding-left: 10px;
}

.landing-page {
                padding: 50px 0;
                width: 100%;
}


.btn {
                margin-right: 10px;
}

.img-landingpage {
                max-width: 100%;
                height: auto;
                display: block;
}

.container {
                max-width: 1200px;
                margin: 0 auto;
                padding: 0 15px;
                justify-content: flex-end;
}

.row {
                display: flex;
}


.col-title {
                padding-left: 5%;
                align-content: center;
                max-width: 45%;

}

.col-6 {
                align-content: center;
                max-width: 45%;
                padding-right: 5%;
}

h1 {
                font-size: 300%;
                margin-bottom: 20px;
                font-family: 'Roboto';
}

.title {
                margin-bottom: 0px;
}

p {
                margin-bottom: 30px;
}

.btn-start {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 25px;
                padding-right: 25px;
                background-color: #576CBC;
                border-radius: 10px;
                color: white;
                text-decoration: none;

}